In [4]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Height': [170, 175, 183],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)

# Sorting by values in column 'Age' in ascending order
sorted_df = df.sort_values(by='Age')
print("Sorted by Age:")
print(sorted_df)
print("\n")

# Sorting by values in column 'City' in descending order
print("Sorted by City (descending):")
sorted_desc_df = df.sort_values(by='City', ascending=False)

print(sorted_desc_df)

Sorted by Age:
      Name  Age  Height           City
0    Alice   25     170       New York
1      Bob   30     175  San Francisco
2  Charlie   35     183    Los Angeles


Sorted by City (descending):
      Name  Age  Height           City
1      Bob   30     175  San Francisco
0    Alice   25     170       New York
2  Charlie   35     183    Los Angeles